In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
def load_data():
    data = pd.read_table('{path}'.format(path = "./diabetes.csv"), sep=',', header=None)
    data = data.sample(frac=1, random_state=0).reset_index(drop=False)
    id = data.pop("index")
    y = data.pop(8)
    data_x = data.as_matrix()
    sc = StandardScaler()
    data_x = sc.fit_transform(data_x)
    data_id = id.values
    data_y = y.values
    return data_x, data_y, data_id

In [3]:
data_x, data_y, data_id = load_data()

In [4]:
data_x

array([[-0.84488505,  2.44447821,  0.35643175, ...,  1.38436175,
         2.784923  , -0.95646168],
       [-0.54791859, -0.43485916,  0.25303625, ...,  0.20401277,
        -0.20499449, -0.87137393],
       [ 0.04601433, -1.40507067, -0.36733675, ...,  0.25478047,
        -0.24425603, -0.70119842],
       ...,
       [ 0.04601433, -0.84172205, -0.2122435 , ..., -0.92556851,
        -0.97814487, -1.04154944],
       [ 2.12477957, -1.12339636,  0.25303625, ..., -0.24020459,
        -0.51908683,  0.14967911],
       [ 0.3429808 ,  0.47275805,  0.66661825, ..., -4.06047387,
         0.50775352,  3.04266271]])

In [5]:
data_x

array([[-0.84488505,  2.44447821,  0.35643175, ...,  1.38436175,
         2.784923  , -0.95646168],
       [-0.54791859, -0.43485916,  0.25303625, ...,  0.20401277,
        -0.20499449, -0.87137393],
       [ 0.04601433, -1.40507067, -0.36733675, ...,  0.25478047,
        -0.24425603, -0.70119842],
       ...,
       [ 0.04601433, -0.84172205, -0.2122435 , ..., -0.92556851,
        -0.97814487, -1.04154944],
       [ 2.12477957, -1.12339636,  0.25303625, ..., -0.24020459,
        -0.51908683,  0.14967911],
       [ 0.3429808 ,  0.47275805,  0.66661825, ..., -4.06047387,
         0.50775352,  3.04266271]])

In [6]:
pd.crosstab(data_y, data_y)

col_0    0    1
row_0
0      500    0
1        0  268

In [7]:
data_x.shape

(768, 8)

In [8]:
data = pd.read_table('{path}'.format(path = "./diabetes.csv"), sep=',', header=None)

In [9]:
data.reset_index(drop=False).pop("index")

0        0
1        1
2        2
3        3
4        4
5        5
6        6
7        7
8        8
9        9
10      10
11      11
12      12
13      13
14      14
15      15
16      16
17      17
18      18
19      19
20      20
21      21
22      22
23      23
24      24
25      25
26      26
27      27
28      28
29      29
      ...
738    738
739    739
740    740
741    741
742    742
743    743
744    744
745    745
746    746
747    747
748    748
749    749
750    750
751    751
752    752
753    753
754    754
755    755
756    756
757    757
758    758
759    759
760    760
761    761
762    762
763    763
764    764
765    765
766    766
767    767
Name: index, Length: 768, dtype: int64

In [20]:
predicted = pd.read_csv("../result.csv")
predicted.shape

(76, 3)

In [90]:
actual = pd.read_csv("diabetes.csv", header=None)

In [91]:
predicted.head(10)

   Unnamed: 0         p    y
0          10  0.382213  0.0
1          16  0.479289  1.0
2          19  0.641106  1.0
3          74  0.897133  1.0
4          72  0.951807  1.0
5          31  0.955602  0.0
6          24  0.984812  0.0
7          38  0.989396  1.0
8          56  0.989969  1.0
9          57  0.990067  1.0

In [94]:
actual.head(11)

     0    1   2   3    4     5      6   7  8
0    6  148  72  35    0  33.6  0.627  50  1
1    1   85  66  29    0  26.6  0.351  31  0
2    8  183  64   0    0  23.3  0.672  32  1
3    1   89  66  23   94  28.1  0.167  21  0
4    0  137  40  35  168  43.1  2.288  33  1
5    5  116  74   0    0  25.6  0.201  30  0
6    3   78  50  32   88  31.0  0.248  26  1
7   10  115   0   0    0  35.3  0.134  29  0
8    2  197  70  45  543  30.5  0.158  53  1
9    8  125  96   0    0   0.0  0.232  54  1
10   4  110  92   0    0  37.6  0.191  30  0

In [88]:
predicted["Unnamed: 0"]

0     10
1     16
2     19
3     74
4     72
5     31
6     24
7     38
8     56
9     57
10     8
11    75
12     4
13    36
14    43
15    21
16     0
17    25
18     3
19    14
20     1
21    39
22    59
23    46
24    22
25    17
26    62
27    33
28    51
29    15
      ..
46     6
47    37
48    66
49    69
50    29
51    18
52    13
53    67
54    70
55    20
56    65
57    26
58    55
59    27
60    28
61    34
62    35
63     9
64     7
65    40
66    41
67    42
68     5
69    44
70    47
71    48
72    12
73    53
74     2
75    50
Name: Unnamed: 0, Length: 76, dtype: int64

In [64]:
actual = pd.DataFrame(actual.iloc[predicted["Unnamed: 0"], -1])

In [65]:
actual.columns = ["actual"]

In [81]:
actual.head(10)

    actual
10       0
16       1
19       1
74       0
72       1
31       1
24       1
38       1
56       1
57       0

In [77]:
combine = pd.concat([actual, predicted["y"].astype(int)], axis=1)

In [79]:
pd.crosstab(combine["actual"],combine["y"] )

y        0   1
actual
0       30  14
1       20  12